.fade-out-usernameDiv{
    opacity: 0;
    transition: opacity 1.5s ease-in;
    pointer-events: none;
}


.playerUsername{
   
    text-align: center;
    color : white;
    stroke : black;
    
    height :23px;
    font : 20px Arial;
    margin-bottom: 0;
}
.usernameDiv{
    text-align: center;
    background-color : #000000;
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.playerDiv{
    align-self: end;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.disabled {
    display: none;
}

.usernameInput{
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: #475569;
    color: #cbd5e1;
}

.loginTransition{
    transform: translateY(140%);
    transition: 0.5s ease-in;
}

.usernameButton{
    padding: 8px 20px;
    border: 1px solid #555;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
   
    background-color: Transparent;
    color: white;
    cursor: pointer;
}

.usernameForm{
    align-self: start;
}
.header{
    
    color: white;
}